.highScoreTable {
  justify-content: space-around;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid #39ff14;
  border-radius: 10px; /* Rounded corners */
}

.highScores {
  justify-content: center;
}

.highScoreTableInitials {
  font-family: "Halogen by Pixel Surplus", sans-serif;
  text-align: right;
  background-color: black;
  color: white;
  font-size: 30px;
}

.buttons {
  position: fixed;
  bottom: 10rem;
}

.backToMap {
  position: fixed;
  left: 2.5rem;
  background-color: black;
  color: #39ff14;
}

.tryAgain {
  position: fixed;
  right: 2.5rem;
  background-color: black;
  color: #39ff14;
}
