.pageContainer {
  /*height: 100vh;*/
  /*width: 100vw;*/
  padding: calc(1% + 70px) 0 1% 0;
  height: 100vh;
  /*padding-top: 70px;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: lightblue;
  overflow: hidden;
}

.currentRequestsContainer {
  width: 55vw;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 1fr auto;
}

.requestFormContainer {
  max-height: calc(100vh - 100px);
  width: 38vw;
  min-width: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
  border: 5px solid white;
}

.sectionHeader {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #012d5a;
  width: 100%;
}

.requestFormHeader {
  display: flex;
  flex-direction: row;
  margin: 4%;
  align-items: center;
}

.divider {
  margin: 4%;
}

.inputRow {
  padding: 0 4%;
  margin-top: 2%;
}

.doubleInputRow {
  display: flex;
  flex-direction: row;
  padding: 0 4%;
}

.priorityStatus {
  margin-top: 2%;
}

.formButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4%;
}

.tooltip {
  text-align: center;
  font-style: italic;
  color: darkgray;
}

.currentRequestsHeader {
  margin: 3.83% 3.83% 0 3.83%;
}

.filterSelectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableMutators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -2% 4% 2%;
  align-items: end;
}

.filterMenu {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.filterMenuText {
  margin-bottom: 8px;
  color: dimgray;
}

.table {
  /*height: 50%;*/
  overflow-y: auto;
}
