.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.floor-btn {
  background-color: white !important;
  font-size: 1.1em !important;
  color: black !important;
  width: 10vw;
}
