.title {
    padding-left: 5%;
}

.inputSection {
    margin-bottom: 1rem;
}

.roundedInputBorders {
    border-radius: 14px;
}

.longBoxPadding {
    padding-left: .75rem;
    padding-right: .75rem;
}

label {
    align-self: start;
    padding-bottom: .25rem;
}

.nonTextInput {
    padding-left: 1rem;
}

.textInput {
    padding-left: .75rem;
}

.radioButtonSpacing {
    padding-bottom: .5rem;
}

.fieldBgColor {
    background-color: #F1F1F1;
}

.formBgColor {
    background-color: #D4DEE8;
}

.blueBorder {
    border-width: 4px;
    border-color: #012D5A;
    border-style: solid;
}

body {
    background-color: #d9d9d9;
}

h1 {
    color: #012D5A;
    font-weight: 700;
    font-size: 4em;
}

input[type="radio"] {
    border-color: #F6BD39;
    border-width: 2px;
}

input[type="radio"]:checked {
  background-color: #f6bd39 !important;
}

.radioButtonFontSize {
    font-size: 1.1em;
}

.sendButtonBgColor {
    background-color: #012D5A;
    border: transparent;
    font-weight: 700;
    font-size: 2.25em;
    padding: 1rem 7rem;
}

.sendButtonBgColor:hover {
    background-color: #F6BD39;
    color: black;
    border: transparent;
}

.allInputs {
    margin: 0 8rem;
}

.textInputFontBold {
    font-weight: bold;
}

