.borders {
  border: 3px solid #f700ff;
}

:root {
  --fs-head: 2.5em;
  --fs-parag: 1em;
  --fs-sub: 1em;
}

/*dynamic text size*/
@media (min-width: 50em) {
  /*once screen size decrease text size decrease*/
  :root {
    --fs-head: 5em;
    --fs-parag: 1.75em;
    --fs-sub: 0.5em;
  }
}
.header {
  font-size: var(--fs-head);
  /*max-width: 30ch;*/
  line-height: 1.1;
  font-weight: 900;

  color: white;
  font-family: Inter, serif;
}
/*used on the button*/
.paragraph {
  font-size: var(--fs-parag);
  line-height: 0.95;

  color: white;
  font-family: Inter, serif;
}

/*I think i got ride of the below usages :)  */
/*Text size + font*/
.hero-text {
  font-size: 7.5em;

  font-weight: 900;
  line-height: 1.1;

  padding: 0 5% 15%;
  color: white;
  font-family: Inter, serif;
  user-select: none;
  text-align: left;
}
.subtitle {
  font-size: 2em;
  /*padding: 5%;*/
  padding-bottom: 5%;
  margin-right: 10%;
  font-weight: lighter;
  text-align: left;
  line-height: 0.95;
  color: white;
  /*font-family: Inter, sans-serif;*/
  /*user-select: none;*/
}

.image-area {
  background-image: url("../../public/brighamBG.png");
  background-position: center;
  align-self: center;
  height: 100%;
  width: 100vw;
  position: fixed;
  /*background-attachment: fixed;*/
  background-size: 100% 100%;
}

/*Background Animation*/
.gradient {
  width: auto;
  height: 100vh;
  background: linear-gradient(
      45deg,
      rgba(9, 72, 171, 0.5),
      rgba(9, 31, 112, 0.5)
    )
    0 0 / 1000% no-repeat;
  animation: gradient_ani 15s ease infinite;
  align-items: center;
  /*  flex-direction: row;*/
}

/*used on left hand column*/
.space {
  height: 5em;
}

/*used for right hand coulmn*/
/*.space_2 {*/
/*  height: 40vh;*/
/*}*/
.boxMarg {
  margin: 30vh 0;
}

.boxPad {
  padding: 5% 5%;
}

.button-class {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;

  color: #ffffff;
  font-weight: 700;
}

.toMap {
  align-items: center;
  margin-right: 12%;
  padding: 2%;
  /*animation: bounce 3.5s ease-in-out infinite;*/
  border-radius: 30px;
  background-color: rgba(103, 174, 231, 0.94);
  transition:
    box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
  box-shadow: 7px 7px 0;
}

/*Button Hover State*/
.toMap:hover {
  background-color: #34a2f8;
  /*color: #005db4;*/
  box-shadow: #024d88;
}

/*Roatating Text*/
.carousel {
  /*overflow: hidden;*/
  width: 100%;
  /*display: inline-block;*/
  /*animation: 5s carousel infinite linear;*/
}

.carousel div {
  position: absolute;
  width: 100%;
  height: 500%;
  /*display: inline-block;*/
  animation: carousel 20s infinite;
}

.carousel span {
  display: block;
  /*height: 3em;*/
  margin: 5% 0;
  /*height: 5%;*/
  /*padding: 0 5%;*/
  border: 2px solid yellow;
  /*height: 20%;*/
  /*margin: 6% 0;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

/***************************/
/*ANIMATIONS*/

/*Carousel*/
@keyframes carousel {
  0% {
    transform: translateY(-10%);
  }
  20% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(-30%);
  }
  60% {
    transform: translateY(-40%);
  }
  80% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(-40%);
  }
}

.spacing {
  align-content: start;
  padding-left: 20%;
}

@keyframes gradient_ani {
  0% {
    background-position:
      0 30%,
      0 0;
  }
  50% {
    background-position:
      100% 70%,
      0 0;
  }
  100% {
    background-position:
      0 30%,
      0 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
