#flowerPage {
  text-align: left;
  max-width: 1080px;
  font-family:
    inria Serif,
    serif;
  color: white;
  font-size: 20px;
}

#flowerPageHeader {
  font-family:
    Inknut Antiqua,
    serif;
}

.form-group {
  margin-bottom: 20px;
  font-size: 21px;
}

.form-control {
  padding-right: 400px !important;
}

.submit-btn {
  background-color: #2196f3 !important;
  color: white !important;
}

.submitted-form {
  color: white;
  font-family:
    inria Serif,
    serif;
  text-align: left !important;
}
