.newNavBar {
  height: 100%;
  width: 55px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #012d5a;
  color: white;
  padding-top: 80px;
  transition: width 0.5s ease-in-out;
}

.newNavBar:hover {
  width: 12%;
}

.navBarIcons {
  font-size: large;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
}

.textNextToIcons {
  white-space: nowrap;
  text-align: start;
}
