.newNavBar {
  height: 100%;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #012d5a;
  color: white;
  padding-top: 5%;
  transition: width 0.5s ease-in-out;
  z-index: 5;
}

.newNavBar:hover {
  width: 15%;
}

.navBarIcons {
  font-size: large;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
