.btn-container {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  bottom: 0;
  right: 0;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  width: 4vw;
  height: 30vh;
  margin-right: 1vw;
  position: absolute;
  z-index: 3;
  align-items: center;
}
