.map-wrapper {
  float: right;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mapScale {
  position: absolute;
  z-index: -1;
}

.transform-component-module_wrapper__SPB86 {
  height: 100vh !important;
  width: 100vw !important;
}

.transform-component-module_content__FBWxo {
  height: 100% !important;
  width: 100% !important;
}
